body{
    background: rgba(245, 0, 0, 0.74);
    color:rgba(0, 0, 0, 0.74);
    margin: 0px;
}
header{
    border-bottom: solid 2px rgba(0, 245, 204, 0.74);
    padding:20px;
    font-size: 32px;
    color: black
}
section{
    background-color: aqua;